body {
	background-color: #efeee7	;
    margin: 0;
    padding: 0;
    color: #333333;
    font-family: "Georgia", "Times New Roman", "Times,serif";
      }
.container {
	font-size: 24px;
	color: #eee;
	text-align: center;
	background: Black;
	padding-top: 2px;
	padding-bottom: 2px;
}
h2 {
	font-size: 24px;
}
#bio-image {
	width: 20%;
	height: 1000px;
	float: left;
	margin-left: 30px;
}
#contact-info {
	float: left;
	width: 32%%;
	margin-left: 30px;
	margin-top: -52px;
	padding-left: 50px;
	font-size: 20px;	
	line-height: 1.5;
	display: inline;
}
#h2-ci {
	margin-bottom: -10px;
}
#main-bio {
	float: left;
	width: 40%;
	font-size: 20px;
	margin-left: 30px;
}
a {
	color: #d21034;
}